<div class="main">
  <h1>You can manage GraBlue's ToDos.</h1>
  <%= link_to("ToDo index", "/todo/index") %>
  <%= link_to("New Todo", "/todo/new") %>
  <%= link_to("Tag index", "/tag/index") %>
  <%= link_to("New Tag", "tag/new") %>
</div>